<header class="header-area bg-white mb-4 rounded-bottom-15" id="header-area">
    <div class="row align-items-center">
        <div class="col-lg-4 col-sm-6">
            <div class="left-header-content">
                <ul
                    class="d-flex align-items-center ps-0 mb-0 list-unstyled justify-content-center justify-content-sm-start">
                    <li>
                        <button class="header-burger-menu bg-transparent p-0 border-0" id="header-burger-menu">
                            <span class="material-symbols-outlined">menu</span>
                        </button>
                    </li>
                    <li>
                        <span class="logo-text">CorpProcure</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-lg-8 col-sm-6">
            <div class="right-header-content mt-2 mt-sm-0">
                <ul
                    class="d-flex align-items-center justify-content-center justify-content-sm-end ps-0 mb-0 list-unstyled">
                    <li class="header-right-item">
                        <div class="light-dark">
                            <button class="switch-toggle settings-btn dark-btn p-0 bg-transparent" id="switch-toggle"
                                style="border: none;">
                                <span class="dark"><i class="material-symbols-outlined">light_mode</i></span>
                                <span class="light"><i class="material-symbols-outlined">dark_mode</i></span>
                            </button>
                        </div>
                    </li>
                    <li class="header-right-item">
                        <button class="fullscreen-btn bg-transparent p-0 border-0" id="fullscreen-button">
                            <i class="material-symbols-outlined text-body">fullscreen</i>
                        </button>
                    </li>
                    <li class="header-right-item">
                        <div class="dropdown admin-profile">
                            <button class="d-xxl-flex align-items-center bg-transparent border-0 text-start p-0 cursor dropdown-toggle" 
                                    type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="flex-shrink-0">
                                    <img class="rounded-circle wh-40 administrator" src="https://placehold.co/44x44.png?text=No+Image"
                                        alt="admin" />
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-none d-xxl-block">
                                            <div class="d-flex align-content-center">
                                                <h3 class="mb-0 fs-14 fw-medium">
                                                    @User.Identity?.Name
                                                </h3>
                                            </div>
                                            <span class="fs-12 text-muted">
                                                @if (User.IsInRole("Admin")) { <text>Administrator</text> }
                                                else if (User.IsInRole("Manager")) { <text>Manager</text> }
                                                else if (User.IsInRole("Finance")) { <text>Finance</text> }
                                                else if (User.IsInRole("Procurement")) { <text>Procurement</text> }
                                                else { <text>Staff</text> }
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end shadow border-0 py-2 w-100" aria-labelledby="userDropdown" style="min-width: 200px;">
                                <li>
                                    <a class="dropdown-item py-2" asp-controller="Account" asp-action="Profile">
                                        <i class="ri-user-line me-2 text-primary"></i> My Profile
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item py-2" asp-controller="Account" asp-action="ChangePassword">
                                        <i class="ri-lock-line me-2 text-warning"></i> Change Password
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider my-2"></li>
                                <li>
                                    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline w-100">
                                        <button type="submit" class="dropdown-item py-2 text-danger">
                                            <i class="ri-logout-box-line me-2"></i> Logout
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>